;; fonts
(set-default-font "...")
;;(set-face-attribute 'default nil :height 125)

;; set working dir
(setq ess-r-package-library-path "...")

;; specify the location of R
(setq inferior-R-program-name "/path/to/R")

;; On Windows msys64, maybe you need this
;; (setenv "R_ENVIRON_USER" "c:/Users/user/Documents/.Renviron")
;; (setenv "R_PROFILE_USER" "c:/Users/user/Documents/.Rprofile")
;; (setenv "R_LIBS_USER" "c:/Users/user/Documents/R/win-library/3.5")

;; path to pandoc for preview
(setq markdown-command "/path/to/pandoc")

;; Window size
;; (setq default-frame-alist '((width . 140)
;; 			    (height . 60)))

